<a ng-repeat="fullProject in fullProjects" class="projects-section__link-to-project"
   ng-href="projects/{{fullProject.ProjectId}}.html">
  <div class="projects-section__project">
    <div style="background: url({{fullProject.PhotoUri}}) no-repeat center;" class="project__background"></div>
    <div class="project__info-container">
      <div class="project__name" ng-bind="fullProject.Name"></div>
      <div class="project__status">
        Cтатус: <span class="status__value" ng-bind="fullProject.ProjectStatus"></span>
      </div>
    </div>
  </div>
</a>