<header>
  <a href="../index.html"><div class="header__site-logo"></div></a>
  <span class="header__reg-or-login">
    <a class="reg-or-login__reg" href="">Стать разработчиком</a>
    или <a class="reg-or-login__login" href="">Войти</a>
  </span>
  <div class="header__nav-toggle">
    <div class="nav-toggle__burger"></div>
  </div>
  <nav class="header__nav-full">
    <a class="nav-full__item" href="">Заказать</a>
    <a class="nav-full__item" href="../projects.html">Проекты</a>
    <a class="nav-full__item" href="">Разработчики</a>
    <a class="nav-full__item" href="">Блог</a>
    <a class="nav-full__item" href="">О нас</a>
    <a class="nav-full__item" href="">Связаться</a>
  </nav>
</header>
<nav class="nav-mobile">
  <a class="nav-mobile__item" href="">Войти</a>
  <a class="nav-mobile__item" href="">Стать разработчиком</a>
  <a class="nav-mobile__item" href="">Сделать заказ</a>
  <a class="nav-mobile__item" href="../projects.html">Наши проекты</a>
  <a class="nav-mobile__item" href="">Разработчики</a>
  <a class="nav-mobile__item" href="">Блог</a>
  <a class="nav-mobile__item" href="">О нас</a>
  <a class="nav-mobile__item" href="">Связаться</a>
</nav>