<div class="full-project-container">
  <h1 class="full-project__name" ng-bind="project.Name"></h1>
  <div class="dividing-line"></div>
  <div class="full-project__preview" style="background: url({{project.LandingImageUri}}) no-repeat center;">
    <span class="preview__project-status" ng-bind="projectStatus"></span>
  </div>
  <div class="full-project__info">
    <div class="info__subheading">Тип проекта:</div>
    <div  class="info__project-types">
      <span ng-repeat="projectType in project.ProjectType" ng-bind="projectType" class="project-type"></span>
    </div>
    <div class="info__subheading">Описание:</div>
    <div class="info__description" ng-bind="project.Info"></div>
    <div class="info__subheading">Разработчики:</div>
    <div class="info__developers"></div>
    <div class="info__links">Проект в <a href="{{project.ProjectManagementSystemUri}}">Redmine</a>
      и <a href="{{project.VersionControlSystemUri}}">Gitlab</a>.</div>
    <div class="info__join-button">Присоединиться</div>
  </div>
  <h1 class="full-project__headline headline">Задачи на проекте</h1>
  <div class="dividing-line"></div>
  <div class="full-project__issues">
    <span ng-repeat="projectIssue in projectIssues" class="full-project__issues" ng-bind="projectIssue.Header"></span>
  </div>
  <h1 class="full-project__headline headline">Cкриншоты</h1>
  <!--Галерея-->
</div>
