@font-face {
  font-family: 'PTsans';
  src: url('../fonts/ptsans-regular.eot');
  src: url('../fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ptsans-regular.woff2') format('woff2'),
  url('../fonts/ptsans-regular.woff') format('woff'),
  url('../fonts/ptsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('../fonts/bitter-bold.eot');
  src: url('../fonts/bitter-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bitter-bold.woff2') format('woff2'),
  url('../fonts/bitter-bold.woff') format('woff'),
  url('../fonts/bitter-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebasneue-regular.eot');
  src: url('../fonts/bebasneue-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebasneue-regular.woff2') format('woff2'),
  url('../fonts/bebasneue-regular.woff') format('woff'),
  url('../fonts/bebasneue-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
