@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700|PT+Sans:400,700|Noto+Serif:400,700&subset=latin,cyrillic);
/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
}

body {
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  color: #202d3a;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #202d3a;
}

/* END CSS RESET */

/* хедер */
header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100px;
  background: #151515;
}

.headline {
  display: block;
  text-align: center;
  margin: 30px 0;

  font-family: 'Noto Serif', serif;
  font-size: 1.8em;
  font-weight: bold;

  color: #202d3a;
}

.project__name--style {
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  color: #202d3a;
}

.dividing-line {
  height: 1px;
  width: 90%;
  background-color: #202d3a;
  margin: 0 auto;
}

.header__site-logo {
  display: inline-block;
  width: 170px;
  height: 100%;
  margin-left: 15px;
  background: url('../imgs/logo-ver2.svg') no-repeat center;
  background-size: contain;
}

.header__reg-or-login {
  display: none;
}

/** иконка-переключатель бургер-меню **/
.header__nav-toggle {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 35px;
  height: 25px; /* width/1.4 */
  cursor: pointer;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.nav-toggle__burger {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
  background: #ccc;
  border-radius: 2px;
}

.nav-toggle__burger::before, .nav-toggle__burger::after {
  position: absolute;
  content: '';
  width: inherit;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}

.nav-toggle__burger::before {
  top: -200%;
}

.nav-toggle__burger:after {
  top: 200%;
}

/**конец иконка-переключатель бургер-меню **/

.header__nav-full {
  display: none;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
}

/*конец хедер */

.nav-mobile {
  width: 100%;
  background: #ffffff;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
}

.nav-mobile__item {
  display: block;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #202d3a;
  transition: background .2s;
}

.nav-mobile__item:hover {
  background: #f1f1f1;
}

.welcome-section {
  padding: 20px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 480px;

  background: url('../imgs/mobile-main-background.jpg') no-repeat center;
  background-size: cover;

  font-size: 1em;
}

.welcome-section__headline {
  margin: 30px 0 10px 0;
  color: #ffd200;
}

.welcome-section__paragraph {
  display: block;
  height: 80px;

  font-size: 1.1em;
  font-weight: 500;

  color: #ffffff;
}

.button-style {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 15px;
  border: 2px solid #202d3a;
  width: 130px;

  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #202d3a;
}

.button-style:after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;

  background: #202d3a;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.button-style:hover {
  color: #fff;
}

.button-style:hover:after {
  height: 260%;
  opacity: 1;
}

.button-style:active {
  transform: translateY(1px)
}

.welcome-section__order-button {
  width: 130px;
  display: block;
  margin: 40px auto;
  color: #ffffff;
  text-align: center;
}

.button-style--light {
  border: 2px solid #fff;
}

.button-style--light:hover {
  color: #202d3a;
}

.button-style--light:hover:after {
  background-color: #fff;
}

.projects-section {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.projects-section__project {
  position: relative;
  box-sizing: border-box;
  display: inline-block;

  min-width: 270px;
  width: 84.375%; /* 270/320 */
  height: 270px;
  margin: 10px 0 10px 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: url('../imgs/project-landscape.png') no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 #bebebe;
  -webkit-transition: all .12s ease;
  -moz-transition: all .12s ease;
  -o-transition: all .12s ease;
  transition: all .12s ease;
}

.projects-section__project:hover {
  -webkit-transform: translate(-4px, -4px);
  -moz-transform: translate(-4px, -4px);
  -ms-transform: translate(-4px, -4px);
  -o-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px #bebebe;
}

.project__name {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 0;
  right: 0;
  padding: 5px 10px 5px 10px;

  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.projects-section__see-all-button {
  display: block;
  margin: 40px auto;
}

/* section of developers */
.developers-section {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.developers-section__developer {
  box-sizing: border-box;
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;;
}

.developer__photo {
  box-sizing: border-box;
  width: 240px;
  height: 240px;

  background: url('../imgs/developer-photo.jpg') no-repeat center;
  background-size: contain;
  border-radius: 50%;
  border: 5px solid #202d3a;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;;
}
.developer__full-name {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.developer__specialization {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.developer__photo:hover {
  border-color: #ffd200;
}
.developers-section__see-all-button{
  display: block;
  margin: 15px auto 30px auto;
}
footer{

}